[submodule "appmock"]
	path = appmock
	url = ../appmock.git
	branch = develop
[submodule "oz_worker"]
	path = oz_worker
	url = ../oz-worker.git
	branch = develop
[submodule "oneclient"]
	path = oneclient
	url = ../oneclient.git
	branch = develop
[submodule "bamboos"]
	path = bamboos
	url = ../bamboos.git
	branch = develop
[submodule "onepanel"]
	path = onepanel
	url = ../onepanel.git
	branch = develop
[submodule "op_worker"]
	path = op_worker
	url = ../op-worker.git
	branch = develop
[submodule "cluster_manager"]
	path = cluster_manager
	url = ../cluster-manager.git
	branch = develop
[submodule "cluster_worker"]
	path = cluster_worker
	url = ../cluster-worker.git
	branch = develop
[submodule "luma"]
	path = luma
	url = ../luma.git
	branch = develop
[submodule "fs-onedatafs"]
	path = fs-onedatafs
	url = ssh://git@git.onedata.org:7999/vfs/fs-onedatafs
