*.iml
.idea

*.pyc

test-reports/*

tests/acceptance/logs
tests/cucumber/logs
tests/tmp

package
docker-build-list.json
docker-build-report.txt
oneprovider_meta/package
oneprovider_meta/oneprovider.spec
oneprovider_meta/oneprovider/DEBIAN/control

.gitmodules

