Name:		oneprovider
Version:    {{oneprovider_version}}
Release:	{{oneprovider_build}}%{?dist}
Summary:    Meta package for oneprovider components
License:    MIT
URL:        https://onedata.org

Requires: op-ccm = {{op_ccm_version}}
Requires: op-worker = {{op_worker_version}}
Requires: op-panel = {{op_panel_version}}
Requires: couchbase-server

%description

%prep
%setup -c -T
%install
%files
